<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->


<div class="ui borderless bottommenu menu">
  <div class="ui center aligned grid container">
      <a href="https://www.facebook.com/ScienceMarchHI/" class=" item"><i class="large  facebook icon"></i></a>
      <a href="https://twitter.com/sciencemarchhi" class=" item"><i class="large  twitter icon"></i></a>
      <a href="https://www.instagram.com/sciencemarchhi/" class=" item"><i class="large  instagram icon"></i></a>
  </div>
</div>